{% extends 'index.html' %}
{% block content %}

        <table class="table">
            <thead>
                <th>Meeting Room</th>
                <th>Employee</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th></th>
                <th></th>

            </thead>
            <tbody>
                {% for i in meetings %}
                <tr>
                    <td>{{ i.meetingroom }}</td>
                    <td>{{ i.employee }}</td>
                    <td>{{ i.stime }}</td>
                    <td>{{ i.etime }}</td>
                    <td>
                        <a href='/delete/{{i.id}}' class="btn btn-sm btn-dark">Delete</a>
                    </td>
                    <td>
                        <a href='/update/{{i.id}}' class="btn btn-sm btn-dark">Update</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>


{% endblock %}